@using FalmatazClothing.Models.DTO.CartItem;
@model UpdateCartItemDto;

@{
    ViewData["Title"] = "Update Cart Item";
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center">Update Cart Item</h2>
        <form asp-controller="CartItem" asp-action="UpdateCartItem" method="post">
            <input type="hidden" name="Id" value="@Model.Id">

            <label class="form-label">Product</label>
            <input type="text" class="form-control" value="@Model.ProductName" readonly>

            <label class="form-label">Product Image</label>
            <img src="@Model.ProductImage" alt="Product Image" style="width: 100px; height: auto;" />

            <label class="form-label">Price</label>
            <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price" required readonly>

            <label class="form-label">Quantity</label>
            <input type="number" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity" required oninput="calculateTotal()">

            <label class="form-label">Total Price</label>
            <input type="text" class="form-control" id="TotalPrice" name="TotalPrice" value="@(Model.Price * Model.Quantity)" required readonly>

            <button type="submit" class="btn btn-primary mt-3">Update Cart Item</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function calculateTotal() {
            var price = parseFloat(document.getElementById("Price").value) || 0;
            var quantity = parseInt(document.getElementById("Quantity").value) || 0;
            document.getElementById("TotalPrice").value = price * quantity;
        }
    </script>
}
