@using FalmatazClothing.Models.DTO.Order
@model IEnumerable<OrderDto>
@{
    ViewData["Title"] = "GetALlOrders";
}

<h2>Orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Shipping Address</th>
            <th>Action</th>
        </tr>
    </thead>

<tbody>
   @foreach(var order in Model)
    {
        <tr>
            <td>@order.UserId</td>
            <td>@order.OrderDate</td>
            <td>@order.TotalAmount</td>
            <td>@order.Status</td>
            <td>@order.ShipppingAddress</td>
            <td>@Html.ActionLink("View Details", "orderConfirmation", new {id = order.UserId}, new { @class = "btn btn-info"})</td>
        </tr>
    }
</tbody>
</table>




@* @using FalmatazClothing.Models.DTO.Order
@model IEnumerable<OrderDto>
<h2>Order History</h2>
<table class="table">
    <thead>
        <tr>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>$@order.TotalAmount</td>
                <td>@order.Status</td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.UserId" class="btn btn-sm btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@