@using FalmatazClothing.Models.DTO.Order
@model OrderDto

@{
    ViewData["Title"] = "Order Confimation";
}
<h2>Order Confirmation</h2>
<p><strong>User ID:</strong>@Model.UserId</p>
<p><strong>Orde Date:</strong>@Model.OrderDate.ToString("g")</p>
<p><strong>Total Amount:</strong>@Model.TotalAmount.ToString("c")</p>
<p><strong>Status:</strong>@Model.Status</p>
<p><strong>Shipping Address:</strong>@Model.ShipppingAddress</p>
<h3>Order Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>
                <td>$@(item.Quantity * item.UnitPrice)</td>                                        
            </tr>
        }
    </tbody>
</table>

@* @using FalmatazClothing.Models.DTO.Order
@model OrderDto
<h3>Confirm Order</h3>
<form asp-action="">
    <div class="form-group">
        <label>Shipping Address</label>
        <textarea class="form-control" name="ShippingAddress"></textarea>
    </div>
    <input type="hidden" name="UserId" value="@User.Identity"/>
</form> *@