
@using FalmatazClothing.Models.DTO.MaterialType;
@model IEnumerable<MaterialTypeDto>
 
@{
    ViewData["Title"] = "MaterialTypes";
} 

<a href="@Url.Action("CreateMaterialType", "MaterialType")" class="btn btn-success mb-2">Create Materials</a>

<div class="col-md-10">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model?.Any() ?? false)
            {
                var index = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@index</th>
                        <td>@item.Name</td>
                        <td>
                            <img src="@item.ImageUrl" alt="Image" style="width: 100px; height: auto;" />
                        </td>

                        <td>
                            <a asp-controller="MaterialType" asp-action="MaterialTypeDetail"
                               asp-route-id="@item.Id" class="btn btn-outline-info">Detail</a>

                            <a asp-controller="MaterialType" asp-action="DeleteMaterialType" asp-route-id="@item.Id"
                               class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                    index++;
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No Records Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>
