@using FalmatazClothing.Enum
@{
    ViewData["Title"] = "CreateProduct";
}

<div class="row">
    <div class="col-md-8 rounded mx-auto border p-3">
        <h4 class="text-center">PRODUCTS</h4>
        <p class="text-center">Create Products</p>
        <form asp-controller="Product" asp-action="CreateProduct" enctype="multipart/form-data">

           @*  <div class="mb-3">
                <label class="form-label">Phase</label>
                <select class="form-control" name="Phase">
                    <option value="" disabled selected>Select Phase</option>
                    @foreach (var phase in Enum.GetValues(typeof(FeedPhases)).Cast<FeedPhases>())
                    {
                        <option value="@(Convert.ToInt32(phase))">@phase</option>
                    }
                </select>
            </div> *@

            <div>
                <label class="form-label">Style</label>
                <select class="form-control" name="Style">
                    <option disabled selected>Select Style</option>
                    @foreach(var style in Enum.GetValues(typeof(ProductStyles)).Cast<ProductStyles>())
                    {
                        <option value="@(Convert.ToInt32(style))">@style</option>
                    }
                </select>
            </div>


           @*  <div class="mb-3">
                <label class="form-label">Style</label>
                <input type="text" class="form-control" name="Name" required />
            </div> *@



            <div class="mb-3">
                <label class="form-label">MaterialType</label>
                <select name="MaterialTypeId" class="form-select" asp-items="@(ViewData["selectMaterialTypes"] as IEnumerable<SelectListItem>)" required>
                    <option>Select Material Types</option>
                </select>
            </div>


            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="file" class="form-control" name="ImageProduct" multiple required />
            </div>

            <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="text" class="form-control" name="Stock" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="number" class="form-control" name="Price" required />
            </div>

            <div class="row">
                <button type="submit" class="">Create</button>
            </div>
        </form>
    </div>
</div>
