@using FalmatazClothing.Models.DTO.Product;
@model IEnumerable<ProductDto>
 
@{
    ViewData["Title"] = "Products";
} 

<a href="@Url.Action("CreateProduct", "Product")" class="btn btn-success mb-2">Create Product</a>

<div class="col-md-10">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Material</th>
                <th scope="col">Image</th>
                <th scope="col">StockQuantity</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model?.Any() ?? false)
            {
                var index = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@index</th>
                        <td>@item.Style</td>
                        <td>@item.MaterialType</td>
                        <td>
                            <img src="@item.ImageProduct" alt="Image" style="width: 100px; height: auto;" />
                        </td>
                        <td>@item.StockQuantity</td>
                        <td>@item.Price</td>

                        <td>
                            <a asp-controller="Product" asp-action="ProductDetail"
                               asp-route-id="@item.Id" class="btn btn-outline-info">Detail</a>

                            <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id"
                               class="btn btn-outline-danger">Delete</a> &nbsp;

                          @*   <form class="addToCartForm" method="post">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <input type="hidden" name="quantity" value="1" />
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form> *@
                        </td>
                    </tr>
                    index++;
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No Records Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> *@


@* <script>
    $(document).ready(function () {
        $(".addToCartForm").submit(function (event) {
            event.preventDefault();
            console.log(event);
            var form = $(this);
            console.log(form);
            $.ajax({
                url: '@Url.Action("AddToCart", "Cart")',
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    console.log(response);
                    alert("Item added to cart!");
                    $("#cartSummary").load('@Url.Action("Carts", "Cart") #cartSummary');
                },
                error: function (err) {
                    console.error(err);
                    alert("Failed to add item to cart.");
                }
            });
        });
    });
</script> *@